# فایل: .env.local

# یک کلید مخفی برای امن کردن نشست‌ها (Sessions)
# می‌توانید یک متن تصادفی طولانی اینجا قرار دهید.
# برای تولید یک کلید امن، دستور زیر را در ترمینال اجرا کنید:
# openssl rand -base64 32
NEXTAUTH_SECRET=Z5r+ujVt$ghNS5Ag_~§je>t2,eHq_Up,>rbfpYzUe>SLG_,Qzy.tA$eL2yV-

# آدرس اصلی سایت شما
NEXTAUTH_URL=http://localhost:3000
# فایل: .env.local

DATABASE_URL="postgresql://behzadfarhadi@localhost:5432/lms_db"

# .env.local

# ... سایر متغیرها ...

# ArvanCloud S3 Credentials
ARVAN_S3_ENDPOINT_URL=https://s3.ir-thr-at1.arvanstorage.ir
ARVAN_S3_ACCESS_KEY_ID=42ac0196-04f9-4c9e-b623-5e1b698c107f
ARVAN_S3_SECRET_ACCESS_KEY=31ac1790d91f55170d11707735d602af79220368
ARVAN_S3_BUCKET_NAME=lms-project-assets
ARVAN_S3_REGION=ir-thr-at1

# آدرس اصلی وب‌سایت شما (برای آدرس بازگشت از درگاه)
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Zarinpal Settings

# مقدار این متغیر را 'sandbox' یا 'production' قرار دهید
ZARINPAL_MODE="sandbox" 

# مرچنت کد اصلی شما (وقتی حالت production است استفاده می‌شود)
ZARINPAL_MERCHANT_ID="YOUR_PRODUCTION_MERCHANT_ID"

# مرچنت کد تستی زرین‌پال (وقتی حالت sandbox است استفاده می‌شود)
# می‌توانید از همین کد پیش‌فرض برای تست استفاده کنید
ZARINPAL_SANDBOX_MERCHANT_ID="d78b2eb4-9a9a-4210-a8fe-8e0fa86169a7"


# NextPay API Key
NEXTPAY_API_KEY="your-actual-nextpay-api-key"